bin/
*.db
jars/downloads/aips_xml.xml
jars/downloads/aips_xsd.xsd
jars/downloads/bag_preparations_xml.xml
jars/downloads/refdata_pharma_de_xml.xml
jars/downloads/refdata_pharma_fr_xml.xml
jars/downloads/swissmedic_packages_xls.xls
jars/output/parse_report_151013_de.html
jars/output/atc_codes_used_set.txt
