bin/
*.db
jars/downloads/aips_xml.xml
jars/downloads/aips_xsd.xsd
jars/downloads/bag_preparations_xml.xml
jars/downloads/refdata_pharma_de_xml.xml
jars/downloads/refdata_pharma_fr_xml.xml
jars/downloads/swissmedic_packages_xls.xls
jars/output/parse_report_151013_de.html
jars/output/atc_codes_used_set.txt
jars/output/amiko_db_full_idx_de.db-journal
jars/output/parse_report_161013_de.html
downloads/
input/atc_codes_multi_lingual.txt
input/wido_arz_amtl_atc_index_0113_xls.xls
output/atc_codes_used_set.txt
output/parse_report_161013_de.html
output/parse_report_171013_fr.html
css/amiko_stylesheet.css
css/amiko_stylesheet_v1.css
css/amiko_stylesheet_v2.css
