p{margin-top:0pt;margin-right:0pt;margin-bottom:0pt;margin-left:0pt;}
table{border-spacing:0pt;border-collapse:collapse;} 
table td{vertical-align:top;}
.s2{font-family:Verdana;font-size:17.5pt;font-weight:bold;}
.s3{font-family:Calibri;font-size:11pt;margin-top:5pt;background-color:#ffffff;}
.s4{font-family:Verdana;font-size:11.5pt;font-style:italic;font-weight:bold;}
.s5{font-family:Calibri;font-size:11pt;text-align:right;margin-top:2.4pt;background-color:#ffffff;}
.s6{font-family:Verdana;font-style:italic;font-weight:bold;}
.s7{font-family:Calibri;font-size:11pt;margin-top:10pt;background-color:#ffffff;}
.s8{font-family:Verdana;font-size:11.5pt;font-style:italic;}
.s9{font-family:Verdana;font-size:11.5pt;}
.s10{font-family:Calibri;font-size:11pt;background-color:#ffffff;}
.s11{font-family:Verdana;font-style:italic;}
.s12{font-family:Calibri;font-size:11pt;margin-top:6pt;background-color:#ffffff;}
.s13{font-family:Calibri;font-size:11pt;margin-top:2.4pt;background-color:#ffffff;}
.s14{font-style:normal;font-weight:normal;text-align:left;}
.s15{font-family:Calibri;font-size:11pt;margin-top:5pt;margin-left:42pt;background-color:#ffffff;}
.s16{font-family:Symbol;font-size:10pt;font-style:normal;font-weight:normal;}
.s17{font-family:Verdana;}
.s18{font-family:Verdana;font-size:9.20pt;}
.s19{font-family:Verdana;font-size:smaller;font-style:italic;}
.s20{font-family:Calibri;font-size:11pt;line-height:115%;margin-top:6pt;}
.s21{height:10pt;}